<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ name }}'s Watchlist</title>
</head>
<body>
    <h2>{{ name }}'s Watchlist</h2>
    {#用 length 过滤器获取movies 变量长度 #}
    <p>{{ movies|length }} Title</p>
    <ul>
        {% for movie in movies %} {#迭代movies变量#}
        <li>{{movie.title}} - {{movie.year}}</li> {#等同于movie['title']#}
        {% endfor %} {#用endfor结束for语句#}
    </ul>
    <footer>
        <small>&copy; 2018 <a href="http://helloflask.com/tutorial">HelloFlask</a></small>
    </footer>
</body>
</html>

    

 
